[submodule "curriculum-rest-api"]
	path = curriculum-rest-api
	url = git@github.com:slonl/curriculum-rest-api
[submodule "curriculum-search-server"]
	path = curriculum-search-server
	url = git@github.com:slonl/curriculum-search-server.git
[submodule "curriculum-store"]
	path = curriculum-store
	url = git@github.com:slonl/curriculum-store
[submodule "curriculum-registration-app"]
	path = curriculum-registration-app
	url = git@github.com:slonl/curriculum-registration-app
