[submodule "curriculum-graphql-server"]
	path = curriculum-graphql-server
	url = git@github.com:slonl/curriculum-graphql-server
[submodule "curriculum-rest-api"]
	path = curriculum-rest-api
	url = git@github.com:slonl/curriculum-rest-api
[submodule "curriculum-search-server"]
	path = curriculum-search-server
	url = git@github.com:slonl/curriculum-search-server.git
[submodule "simplystore"]
	path = simplystore
	url = git@github.com:simplyedit/simplystore
